body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-group, .operator-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.ingredient-group input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.operator-group select {
    width: 40%; /* Increased width */
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.ingredient-group .remove-btn {
    padding: 10px;
    background-color: transparent; /* Make background transparent */
    color: #dc3545; /* Set icon color */
    border: none;
    cursor: pointer;
}

.ingredient-group .remove-btn:hover {
    color: #c82333; /* Change icon color on hover */
}

.ingredient-group .remove-btn i {
    pointer-events: none;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}

li .info-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff;
    margin-left: 10px;
}

li .info-btn:hover {
    color: #0056b3;
}

li .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0; /* Changed from left: 0 */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 300px;
    height: 200px;
}

li .tooltip .close-btn {
    position: sticky;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #dc3545; /* Red color */
    float: right;
    z-index: 11;
}

li .tooltip .tooltip-content {
    height: calc(100% - 30px);
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 25px;
}